*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.column-60{
padding: 15px;
width: 60%;
float:left
}


.column-40{
    padding: 15px;
    width: 40%;
    float: left;
}

.column-25{
    padding: 15px;
    width: 25%;
    float: left;
}

@media screen and (max-width: 500px) {
    .column-60, .column-40, .column-25 {
        width: 100%;}}

h{
    padding-bottom: 50px;
    font-size: xx-large;
    font-weight: bold;    
}

