.spatiering
{
    width: 80%;
    margin-left: 10%;
}

.b-example-divider {
    height: 15px;
    border-width: 1px 0;
  }

  .b-example-divider-progress {
    height: 5px;
    border-width: 1px 0;
  }

