*
{
    padding: 0px;
    margin: 0px;
}

body{
    color: white;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

div{
    width: 300px;
    border: 10px solid blue;
    background-color: blue;
    padding: 10px;
    margin: auto;
}